body {
    font-family: 'Inknut Antiqua', serif;
    background-color: #f3f0e5;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px 10px 10px 35px;
    background-color: #f3f0e5;
}

.toggle-button {
    display: none;
    font-size: 2.5em;
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: #b13d3d;
    margin-right: 20px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    font-size: 3em;
    color: #b13d3d;
    transition: color 0.3s;
    margin: 20px;
}

.navbar-links a:nth-child(1) {
    color: #81161C;
}

.navbar-links a:nth-child(2) {
    color: #CC1D33;
}

.navbar-links a:nth-child(3) {
    color: #c96a4d;
}

.navbar-links a:nth-child(4) {
    color: #d68a4d;
}

.navbar-links a:hover {
    color: #000;
}

.maincontent {
    flex: 1;
    /* This will make maincontent expand to take available space */
    display: grid;
    grid-template-columns: 1fr 3fr;

    margin: 0 30px;
}

.formpart {
    margin-top: 50px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji";
    text-align: center;
}

.formgroup,
.form-control {
    border-radius: 15px;
    width: 300px;
    height: 50px;
    margin: 10px 0px;
}

.btn {
    height: 80px;
    width: 80px;
    border-radius: 25px;
}

.plotpart {
    padding: 100px;
}



@media (max-width: 1023px) {
    .navbar {
        flex-direction: column;
        align-items: flex-end;
    }

    .toggle-button {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links a {
        margin: 10px;
        width: auto;
        text-align: right;
        padding-right: 15px;
        margin-right: 15px;
    }

    .navbar-links.active {
        display: flex;
        margin-bottom: 20px;
    }

    .navbar-links.active a {
        height: 1em;
        font-size: 2em;
    }

    .maincontent {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }

    .formpart {
        margin-top: 100px;
    }

    .plotpart {
        padding: 10px;

    }

    form {
        margin: 0;
    }

    h2 {
        font-size: 55px;
    }

    .formgroup,
    .form-control {
        width: 85vw;
        height: 80px;
        font-size: 25px;
    }

    .btn {
        margin-top: 15px;
        height: 15vw;
        width: 15vw;
        border-radius: 25px;
        font-size: 3.5vw;
        margin-bottom: 100px;
    }
}